.footer {
  padding: 1.5rem 2rem;
  background: var(--gray-1, #333);
  color: #FFFFFF;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}