.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: calc(120rem - 4rem);
  margin: 0 auto;
  width: 100%;
}

.filter {
  width: 30%;
  max-width: 25.5rem;
}

.movies {
  margin-left: 1.44rem;
  width: 100%;
}

.movie + .movie {
  margin-top: 1rem;
}
