.container {
  max-width: calc(120rem - 4rem);
  margin: 0 auto;
  color: var(--text-primary, #1B1F23);
  width: 100%;
}

.title {
  background: var(--container-background, #FFFFFF);
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 8px;
}

.questions {
  margin-top: 1.5rem;
}

.item {
  background: var(--container-background, #FFFFFF);
  padding: 1.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.item + .item {
  margin-top: 1rem;
}

.question {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.answer {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  height: auto;
}

.answerExpanded {
  margin-top: 1rem;
  height: auto;
  max-height: 1000px;
}

.arrowReversed {
  transform: translateY(100%) rotateX(-180deg);
}
