.container {
  position: relative;
}

.inputLabel {
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: block;
}

.input {
  margin-top: 0.25rem;
  border-radius: 8px;
  border: 1px solid var(--border-default, #E1E3E6);
  background: var(--container-background, #FFF);
  padding: 0.62rem 1rem;
  width: 100%;
  transition: border, color 0.2s ease-in-out;
}

.input::placeholder {
  color: var(--text-tertiary, #999FA6);
}

.input:focus {
  border: 1px solid var(--primary, #F50);
}

.input:focus::placeholder {
  color: var(--text-primary, #1B1F23);
}
